*{
    padding: 0px 0px;
    margin: 0px 0px;
}

body{
    background-color: rgb(57, 199, 199);
}

.main{
    position: relative;
    background-color: rgb(229, 235, 231);
    height: 300px;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-120%,50%);
    border: 5px solid rgb(196, 52, 52);
    border-radius: 20px;
}

#longurl{
    position: relative;
    top: 40%;
    left: 10%;
    height: 40px;
    width: 296px;
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 20px;
    font-size: large;
    font-family: monospace;
    font-weight: bold;
}

#shorten{
    position: relative;
    top: 40%;
    left: 12%;
    height: 40px;
    width: 80px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    font-family: monospace;
    color: white;
    background-color: rgb(32, 0, 128);
}

#shorten:hover{
    background-color: skyblue;
}

#shorturl{
    position: relative;
    top: 45%;
    left: 10%;
    height: 40px;
    width: 270px;
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 47px;
    font-size: large;
    font-family: monospace;
    font-weight: bold;
}

#copy{
    position: relative;
    top: 46%;
    left: 0%;
    height: 35px;
    width: 35px;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    background-color: rgb(17, 0, 128);
}

#copy:hover{
    background-color: rgb(235, 135, 205);
}

.main p{
    position: relative;
    top: 30%;
    left: 13%;
    height: 60px;
    width: 40px;
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(160, 0, 0);
}

